# Also see https://github.com/github/gitignore/blob/master/Python.gitignore
# This is simpler and easier to understand
# We'll ignore all .* files and then re-add some

# General hidden or unwanted
.*
~*
*~
*#
Thumbs.db
*.bak
*.swp
tmp/

# Log files and binary files
*.log
*.zip
*.tar.gz
*.tgz
*.gz
*.tar
*.z7
*.exe
*.msi
*.pkg
*.dll
*.so

# Python temp and build files
docs/html/
__pycache__/
__pypackages__/
*.py[cod]
*$py.class
*.egg-info
pip-wheel-metadata
share/python-wheels/
build/
dist/
eggs/
sdist/
docs/_build
cython_debug/
docs/autoapi

# Hidden files that are definitely unwanted (redundant)
.tox/
.pytest_cache
.ipynb_checkpoints

# Files from other languages
*.o
hs_err_pid*
*.class
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl

# User settings
/.vscode/settings.json

# Home Assistant configuration
config/*
!config/configuration.yaml

# Keep these config files
!/.gitignore
!/.travis.yml
!/.circleci/config.yml
!/.github
!/.appveyor.yml
!/.flake8
!/.readthedocs.yml
!/.dockerignore
!/.editorconfig
!/.pre-commit-config.yaml
!.npmignore
!/.scrutinizer.yml
!/.prospector.yml
!/.devcontainer.json
!/.vscode
